<mat-dialog-content>

  <mat-toolbar>
    <mat-toolbar-row>
      <h4>
        #{{ data.DATA_SEQ }}
      </h4>
          <mat-form-field>
            <input matInput [(ngModel)]="data.TITLE" >
          </mat-form-field>
      <span class="mat-action-remaining-space"></span>
      <mat-dialog-actions class="flexbox">
        <button mat-icon-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="onUpdate()">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="內容" [(ngModel)]="data.CONTENT"></textarea>
  </mat-form-field>


</mat-dialog-content>
