
.mat-grid-list {
  background-color: rgb(245, 235, 223);
}

.board-card {
  width: 80vw;
}

.board-tile {
  margin: 10px;
  padding: 10px;
}

/* .mat-grid-tile :hover {
  background-image: radial-gradient(circle, white, rgb(230, 224, 224), rgba(192, 189, 189, 0.897));
} */
