<mat-toolbar>
  <mat-toolbar-row>公佈欄</mat-toolbar-row>
</mat-toolbar>

<mat-grid-list [cols]="breakpoint" rowHeight="180px">
  <mat-grid-tile class="board-tile" *ngFor="let item of dataSource$ | async  ; let index = index" >
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ item.Title }}</mat-card-title>
        <mat-card-subtitle>{{ item.EntryID }}  {{ item.EntryTime | date: 'yyyy/MM/dd'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <blockquote class="blockquote">
          <p class="mb-0">{{ item.Content }}</p>
        </blockquote>
      </mat-card-content>
      <mat-card-footer>
          <mat-card-actions align="end">
              <button mat-raised-button >
                我知道了
              </button>
              <button mat-raised-button >
                留言
              </button>
            </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
