<mat-toolbar>
  <mat-toolbar-row>通訊錄</mat-toolbar-row>
</mat-toolbar>

<div class="eip-container">
  <table mat-table [dataSource]="staffData" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.EMP_ID}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 姓名 </th>
        <td mat-cell *matCellDef="let element"> {{element.EMP_NAME}} </td>
      </ng-container>

      <ng-container matColumnDef="ext">
        <th mat-header-cell *matHeaderCellDef> 分機 </th>
        <td mat-cell *matCellDef="let element"> {{element.VOUCHER_REMARK}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMail </th>
        <td mat-cell *matCellDef="let element">
          <a href="mailto:{{element.CORP_EMAIL}}">{{element.CORP_EMAIL}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef> 今日行程 </th>
        <td mat-cell *matCellDef="let element"> {{element.TODAY_EVENTS}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
