.YYYYMM {
  margin: auto;
  text-align: center;
}


.mat-card-header {
  height: 30px;
}

.event-card {
  align-self: flex-start;
  width: 100%;
  height: 110px;
  margin: 1px;
  padding: 1px;
}

.event-card:hover {
  /* background-color: gradiant; */
  background-image: radial-gradient(circle, white, rgb(230, 224, 224), rgba(192, 189, 189, 0.897));
}

.today {
  color: rgb(240, 126, 126);
  background-image: radial-gradient(circle, white, rgb(230, 224, 224), rgba(192, 189, 189, 0.897));
}
