<mat-toolbar>
  <mat-toolbar-row>
    <span>行事曆</span>
    <span class="YYYYMM">
      <button mat-flat-button color="primary" (click)="previousMonth($event)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      {{ yyyymm | date: "yyyy/MM"}}
      <button mat-flat-button color="primary" (click)="nextMonth($event)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="eip-container">

  <mat-grid-list [cols]="breakpoint" rowHeight="50px">
    <mat-grid-tile *ngFor="let item of weekday_name ">
      {{ item }}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="breakpoint" rowHeight="120px">
    <mat-grid-tile class="event-tile" *ngFor="let item of event_list ">
      <mat-card class="event-card" *ngIf="item.day !== 0" [ngClass]="( isToday(item.date) ) ? 'today' : 'event-card'">
        <mat-card-header>
          <mat-card-title>
            <button mat-button color="primary" (click)="edit(item.date)">
              {{ item.day }}
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'80'">
          <div [innerHTML]="item.event_desc"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
