<mat-toolbar>
  <mat-toolbar-row>首頁</mat-toolbar-row>
</mat-toolbar>

<div class="eip-container">

  <mat-grid-list [cols]="2" rowHeight="180px">
    <mat-grid-tile  >
      <mat-card >
        <mat-card-header>
          <mat-card-title>今日活動</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button >
                  我知道了
                </button>
              </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  >
      <mat-card >
        <mat-card-header>
          <mat-card-title>最新公布</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button >
                  我知道了
                </button>
              </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
