
.EIP-toolbar{
  position: fixed;
  top:0;
  z-index:2;
}

/* .EIP-container, */
.EIP-sidenav{
  position: absolute;
  padding-top: 64px;
  height: calc(100vh-64px);
  width: 250px;
}

.toolbar-seprator{
   flex: 1 1 auto;  /*由於Toolbar內的排版是flex，我們可以加入一個分隔用的空間，把空間後的內容都推到另外一邊去。 */
}
